body {
	background: #F0FFF0;
	background: radial-gradient(red 5%, #FFFFFF 95%);

}

p {
	
	margin:200px;
	font-family: helvetica;
	font-size: 40px;
	color: white;
	line-height: 30px;
	text-shadow: 2px 4px 4px #69FF91;
}