#animals {
margin-left: -10px;
position: fixed;
}


#dog {
	float: left;
	margin-top: 220px;
	margin-left: -25px;

}

#scrolly{
	margin-top: 5px;
	margin-left:40px;
	height:680px;
	width:3744px;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
}

#dogvid {
	margin-left: 40px;
	margin-top: 220px;
}

#nom {
	position:absolute;
	top: 206px;
left: 1260px;}

#nomvid {
		position:absolute;

	top: 236px;
left: 1900px;}


#shiba{
	position:absolute;
	top: 206px;
left: 2560px;}

#shibavid{
	position:absolute;
	top: 226px;
left: 3060px;}
