#square {
width: 300px;
height:300px;
background: red;
z-index: 0;
float:left;
border-radius: 10px;
}

#circle {
	height: 200px;
	width: 200px;
	background:blue;
	border-radius: 50%;
	z-index: 1;
	float: left;
	position: absolute;
	top:100;
	left: 100;


}


#triangle {
	width: 0;
	height: 0;
	background: pink;
	border-top: 50px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent;
	float: left;
	z-index: 2;
	position: absolute;
	top:0;
	left:0;

}